.new-message-form {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background-color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 10;
}

.new-message-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #f0f0f0;
    font-size: 16px;
    margin-right: 10px;
}

.send-button {
    background-color: #717673c2;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.send-button:hover {
    background-color: #1ebe57;
}